@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all .3s; */
  outline:none;
  border:none;
}
/* body{
  background-color: var(--dark-color) ;
} */

html{
  font-size: 16px;
}
p{
  margin:0;
  padding:0;
}
@media screen and (max-width:991px) {
  html{
    font-size: 10px;
  }
}
:root {
  --primary-color: ;
  --color-light:#FFFFFF;
  --secondary-color: ;
  --dark-color:#010416;
  --tertiary-color: #FE8B1F;
  --sky-color: ;
  --grey-color: #6C86AC;;
  --blue-gradient:linear-gradient(90deg, #14C5FB 0%, #095BE9 100%);
}
img {
  max-width: 100%;
  height: auto;
}

